<!-- views/createList.ejs -->
<form action="/lists/create" method="post">
    <label for="title">Titre de la Liste:</label>
    <input type="text" id="title" name="title" required>
  
    <label for="reservationEndDate">Date de fin de réservation:</label>
    <input type="date" id="reservationEndDate" name="reservationEndDate" required>
  
    <button type="submit">Créer une Liste</button>
  </form>
  