<!-- views/giftSearchResults.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Résultats de la Recherche</title>
</head>
<body>
  <h1>Résultats de la Recherche</h1>
  <ul>
    <% for (const gift of gifts) { %>
      <li><a href="/gifts/<%= gift.id %>"><%= gift.name %></a></li>
    <% } %>
  </ul>
</body>
</html>
